:root {
    --segunda: #1F1534;
    --terça: #89C5CC;
    --quarta: #7D7987;
    --quinta: #69B99D;
}

li a {
    color: #7D7987;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.pag {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
    cursor: pointer;
}
ul li a:hover {
    font-weight: bold;
    transition: 0.3s;
}

ul li #co:hover {
color: gold;
}

li #co{
    color: black;
    font-weight: bolder;
}

header {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

#fuc {
    color: var(--terça);
    
}

h1 {
    font-style: normal;
    font-size: 49px;
    line-height: 56px;
}

main {
    margin-top: 55px;
    display: flex;
    text-align: start;
    justify-content: space-between;
}

button {
    cursor: pointer;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 32px 15px;
    gap: 10px;
    background-color: var(--quinta);
    color: #fff;
    border: none;
    border-radius: 4px;
  
}

p {
    font-size: 17px;
    line-height: 28px;
    color: var(--quarta);
    margin: 0;
    font-family: 'Open Sans';
}


footer p {
    font-family: 'Open Sans';
    color: var(--segunda);
    font-weight: normal;
}

footer a {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 14.2rem;
}


#desc2 {
    margin-bottom: 40px;
}

button:hover {
    background-color: gold;
    transition: 0.3s;
    
}

#desc {
    margin-top: 40px;
}

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}

p {
    color: var(--quarta);
}